<div class="container">
    <form (ngSubmit)="login()" class="p-4 bg-light border rounded shadow-sm">
        <h1 class="text-center mb-4">Connexion</h1>
        
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>

        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" id="inputEmail" name="email" [(ngModel)]="user.email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Mot de passe</label>
            <input type="password" id="inputPassword" name="password" [(ngModel)]="user.password" class="form-control" required>
        </div>

        <div class="text-center">
            <button type="submit" class="btn">Connexion</button>
        </div>
    </form>

    <div class="text">
        <p>Pas encore inscrit ? <a routerLink="/register">Créer un compte ici.</a></p>
    </div>
</div>
