

<div class="container">
    <div class="form-container">
        <form (ngSubmit)="search()" class="row g-3">
            <div class="col-md-6 form-group">
                <h5>Contrats</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="2" name="CDI" id="CheckboxCDI" [(ngModel)]="CDI">
                    <label class="form-check-label" for="CheckboxCDI">CDI</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" name="Stage" id="CheckboxStage" [(ngModel)]="Stage">
                    <label class="form-check-label" for="CheckboxStage">Stage</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="3" name="CDD" id="CheckboxCDD" [(ngModel)]="CDD">
                    <label class="form-check-label" for="CheckboxCDD">CDD</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4" name="Alternance" id="CheckboxAlternance" [(ngModel)]="Alternance">
                    <label class="form-check-label" for="CheckboxAlternance">Alternance</label>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <h5>Entreprises</h5>
                <select class="form-select" multiple name="Entreprise" [(ngModel)]="entrepriseID">
                    <option *ngFor="let entreprise of entreprises" [value]="entreprise.id">{{entreprise.nom}}</option>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" class="btn-submit-offre-list" >Filtrer</button>
            </div>
        </form>
    </div>


    <div class="row row-cols-auto row-gap-3 mt-5" style="display: flex; justify-content: center; margin-bottom: 2rem;">

        <app-offre *ngFor="let offre of offres" [offre]="offre"></app-offre>
    </div>
</div>