
<div class="card m-2" style="width: 18rem; height: 100%;">
    <h5 class="card-header card-title">{{offre.titre}}</h5>
    <div class="card-body">
        <div class="offre-location" style="display: flex; flex-direction: row; align-items: center;">
            <span class="material-symbols-outlined"> location_on </span>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
                {{offre.emplacement}}</li>
        </ul>
            </div>
            <div class="offre-type" style="display: flex; flex-direction: row; align-items: center;">
                <span class="material-symbols-outlined">
                    schedule
                    </span>
            <ul class="list-group list-group-flush">
            <div [ngSwitch]="offre.contrat">
                <li class="list-group-item" *ngSwitchCase="1">Stage</li>
                <li class="list-group-item" *ngSwitchCase="2">CDI</li>
                <li class="list-group-item" *ngSwitchCase="3">CDD</li>
                <li class="list-group-item" *ngSwitchCase="4">Alternance</li>
                <li class="list-group-item" *ngSwitchDefault>?</li>
            </div>
        </ul>
    </div>
    <div class="offre-date" style="display: flex; flex-direction: row; align-items: center;">
            <span class="material-symbols-outlined"> Today </span>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
                {{offre.date}}</li>
        </ul>
            </div>
            <div class="button-offre-component" style="display: flex; flex-direction: column; justify-content: center;">
        <a class="btn btn-primary" (click)="apply()">Candidature</a>
        <a class="btn btn-primary" (click)="readMore()">Plus d'information</a>
    </div>
    </div>
</div>
