
<div class="card m-2" style="width: 18rem; height: 100%;">
    <h5 class="card-header card-title">{{offre?.titre}}</h5>
    <div class="card-body">
        <ul class="list-group list-group-flush mb-2">
            <li class="list-group-item">{{offre?.emplacement}}</li>
            <div [ngSwitch]="offre?.contrat">
                <li class="list-group-item" *ngSwitchCase="1">Stage</li>
                <li class="list-group-item" *ngSwitchCase="2">CDI</li>
                <li class="list-group-item" *ngSwitchCase="3">CDD</li>
                <li class="list-group-item" *ngSwitchCase="4">Alternance</li>
                <li class="list-group-item" *ngSwitchDefault>?</li>
            </div>
        </ul>
        <a class="btn btn-primary" (click)="apply()">Candidature</a>
        <a class="btn btn-primary" (click)="readMore()">Plus d'information</a>
    </div>
</div>
