.card-full-centered {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-custom-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    border: 1px solid #62d382;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden; 
}
.card-custom {
    flex: 1;
    position: relative;
}
.color-strip {
    width: 3rem; 
    background-color: #4b9244; 
}
.card-header-custom {
    color: #333;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
}
.card-body-custom {
    padding: 0 1rem 1rem 1rem;
}
.list-group-item-custom {
    border: none;
    padding: 0.5rem 0;
}
.btn-custom {
    background-color: white;
    color: #333;
    border: solid 1px #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.btn-custom:hover {
    color: white;
    border: solid 1px #408cc4;
    background-color: #408cc4;
}
.title {
    color: white;
}