/* You can add global styles to this file, and also import other style files */
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    background-image: url('./assets/fond.jpg');
    /* Autres propriétés de style facultatives */
    background-size:auto; /* Ajuste la taille de l'image pour couvrir toute la zone */
    background-repeat: no-repeat;
}

