/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(245, 245, 245);
    padding-bottom: 30px; /* Ajuste cette valeur selon la hauteur de ton footer */
    background-image: url('./assets/fond.jpg');
    /* Autres propriétés de style facultatives */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone */
    background-position: center; /* Centre l'image dans l'élément */
    background-repeat: no-repeat;
}

