<div class="card" style="width: 18rem; height: 100%;">
    <div class="card-body">
        <h4 class="card-title">{{entreprise.nom}}</h4>
        <p>{{entreprise.domaine}}</p>
        <p>{{entreprise.emplacement_exact}}</p>
        <p>{{entreprise.nombre_employe}} employés</p>
    </div>
</div>

<div class="row row-cols-auto">
    <app-offre *ngFor="let offre of offres" [offre]="offre"></app-offre>
</div>

<!-- <app-map [nameCity]="entreprise.emplacement" [location]="entreprise.emplacement_exact"></app-map> -->
