<h1 id="welcome-message">Bienvenue sur Kareer</h1>

<div class="col">
    
    <div class="col welcome-back" *ngIf="this.isLogged">
        <h3>Bienvenue {{this.user?.prenom}} {{this.user?.nom}}</h3>
    </div>
<h3>Dernières offres publiées !</h3>
    <div class="col derniere-offre">
        <div class="scroll-container">
            <div class="cards-container">
                <app-offre *ngFor="let offre of lastNOffre" [offre]="offre"></app-offre>
            </div>
        </div>
    </div>
</div>