.scroll-container {
    overflow-x: auto;
    padding-bottom: 10px;
    white-space: nowrap; /* Empêcher le retour à la ligne des éléments flex */
    -webkit-overflow-scrolling: touch; /* Améliorer le défilement sur les appareils mobiles */
    display: flex;    

}

/* Customize the scrollbar track */
.scroll-container::-webkit-scrollbar {
    height: 12px; /* Set the height of the scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 10px; /* Rounded corners for the track */
}

/* Customize the scrollbar thumb */
.scroll-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* Customize the scrollbar corner when both vertical and horizontal scrollbars are present */
.scroll-container::-webkit-scrollbar-corner {
    background: #f1f1f1;
}

.cards-container {
    display: flex;
    gap: 16px;
    white-space: nowrap; /* Empêcher le retour à la ligne des éléments flex */
    -webkit-overflow-scrolling: touch; /* Améliorer le défilement sur les appareils mobiles */
    display: flex;
    animation: scrollAnimation 50s linear infinite alternate ; /* Animation de défilement horizontal */
}

.cards-container app-offre {
    flex: 0 0 auto;
    margin: 10px;
}

@keyframes scrollAnimation {
    from { transform: translateX(0); }
    to { transform: translateX(-70%); } /* Fait défiler complètement à gauche */
  }

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    width: 100%;
       animation: fadeIn 2s ease-in-out; /* Ajuste la durée et le timing de l'animation selon tes préférences */
  }
  

.col.derniere-offre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #7cba87;
    border: 1px solid #b5ffbb;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(147, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.entreprises{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #7cba87;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(147, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    margin-bottom: 30   px;
}