<div class="container">

    <form (ngSubmit)="ajouterOffre()" class="row g-3 mt-3 p-4 bg-light border rounded shadow-sm form-container">
        <h1 class="text-center mb-4">Publier une offre</h1>

        <div *ngIf="successMessage" class="alert alert-success">
            {{successMessage}}
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>

        <div class="col-md-6">
            <label for="inputTitre" class="form-label">Titre</label>
            <input type="text" class="form-control" id="inputTitre" placeholder="Ingénieur" name="titre" [(ngModel)]="offre.titre">
        </div>

        <div class="col-md-6">
            <label for="inputContrat" class="form-label">Contrat</label>
            <select name="contrat" id="inputContrat" class="form-select" [(ngModel)]="offre.contrat">
                <option value="0">Inconnu</option>
                <option value="1">Stage</option>
                <option value="2">CDI</option>
                <option value="3">CDD</option>
                <option value="4">Alternance</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="inputEmplacement" class="form-label">Emplacement</label>
            <input type="text" class="form-control" id="inputEmplacement" placeholder="Paris" name="emplacement" [(ngModel)]="offre.emplacement">
        </div>

        <div class="col-md-6">
            <label for="inputEmplacementExact" class="form-label">Adresse complète</label>
            <input type="text" class="form-control" id="inputEmplacementExact" placeholder="x Rue de Machin, 12340 Ville, Pays" name="emplacement" [(ngModel)]="offre.emplacement_exact">
        </div>

        <div class="col-md-6">
            <label for="inputDescription" class="form-label">Description</label>
            <textarea class="form-control" id="inputDescription" placeholder="Au sein de l'équipe, vous serez amené à..." name="description" [(ngModel)]="offre.description"></textarea>
        </div>

        <div class="col-md-6">
            <label for="inputEntreprise" class="form-label">Entreprise</label>
            <select id="inputEntreprise" class="form-select" name="Entreprise" [(ngModel)]="offre.entreprise_ID">
                <option value="0">Sélectionner une entreprise</option>
                <option *ngFor="let entreprise of entreprises" [value]="entreprise.id">{{entreprise.nom}}</option>
            </select>
        </div>

        <div class="col-12 d-grid">
            <button type="submit" class="btn ">Ajouter l'offre</button>
        </div>
    </form>
</div>
